@charset "utf-8";
/* CSS Document */
/*---------------------------------
_footer
-----------------------------------*/
#footer {
	clear: both;
	float: left;
	background-color: #eaeaea;
	line-height: 1.3em;
	padding: 0;
	margin: 20px 0 0 0;
	width: 100%;
}

.foot-nav {
	margin: 0 auto;
	padding: 3px;
	background-color: #d4deef;
	border-top: 1px solid #b8cbeb;
	border-bottom: 1px solid #b8cbeb;
	font-size: 81%;
	text-align: center;
}
.foot-nav ul {
	margin: 0;
	padding: 0;
}
.foot-nav li {
	display: inline;
	list-style-type: none;
	border-right: 1px solid #999;
	margin: 0;
	padding: 0 14px 0 7px;
}
.foot-nav li.nav_end {
	padding: 0 0 0 7px;
	margin: 0;
	border-right-width: 0;
}
/* リンク指定 */
.foot-nav a:link {
	text-decoration: underline;
	color: #2b2b2b;
}
.foot-nav a:visited {
	text-decoration: underline;
	color: #2b2b2b;
}
.foot-nav a:hover {
	text-decoration: none;
	color: #2b2b2b;
}
.foot-nav a:active {
	text-decoration: none;
	color: #2b2b2b;
}

#author-box {
	margin: 5px 0 5px 20px;
	padding: 0;
	font-size: 87%;
}
#author-box p {
	padding: 0;
	margin: 0;
}
#copyright {
	clear: both;
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 75%;
}

#foot-bnr {
	float: right;
	margin: 10px 20px 0 0;
}
