@charset "utf-8";
/* CSS Document */
/*---------------------------------
_印刷用
-----------------------------------*/
@media print {

body{
  background: none;
}

#container {
/*
  display: table-cell !important;
 */
  display: block !important;
  float: none;
  vertical-align: top;

}

#right-side {

  float: right;
  margin: 0;
  padding: 0;

}

.hiddenStructure {
  display: none !important;
}


}
